body {
    font: 300 16px/1.55 "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.commentBox > h1 {

    color: #197de1;

}

header {
    width: 100%;
    height: 50px;
    background: aliceblue;
}