body {
    font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.commentBox > h1 {

    color: #197de1;

}

header {
    width: 100%;
    height: 50px;
    background: aliceblue;
}
.new-button .new-button-text:not(:empty) {
    display: inline-block;
    margin-top: 1px;
}
.new-default-button .new-button-text, .new-default-button .glyph {
    color: #647481;
    text-shadow: 0px 1px white;
}

.view-toggle {
    font-size: 0;
}
.new-default-button {
    border: 1px solid #c2cdd5;
    background-color: #f2f2f2;
}

.new-button {
    display: inline-block;
     
    font-size: 12px; 
    font-weight: 500;
    line-height: 100%;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    padding: 4px 10px;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}


.toolbar .new-default-button.pressed {
    box-shadow: inset 0px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, 0.12);
    background-color: #e1e4e7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e4e7), color-stop(10%, #e1e4e7));
    background-image: -moz-linear-gradient(90deg, #e1e4e7 90%, #e1e4e7);
    background-image: -ms-linear-gradient(90deg, #e1e4e7 90%, #e1e4e7);
    border-color: #b2bec6;
    outline: none;
    color: #475159;
}
.toolbar .new-default-button {
background: transparent;
border-right: 1px solid transparent;
border-left: 1px solid transparent;
border-top: 0px solid transparent;
border-bottom: 0px solid transparent;
padding-top: 10px;
padding-bottom: 11px;
border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
box-shadow: inset 0px 1px white;
-moz-box-shadow: inset 0px 1px white;
-webkit-box-shadow: inset 0px 1px white;
height: 33px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

.new-default-button:hover:not(:focus):not(.unhovered):not(.disabled):not(.pressed) {
border-color: #b2bec6;
background-color: #e1e4e7;
background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #e1e4e7));
background-image: -moz-linear-gradient(90deg, #e1e4e7 0%, white);
background-image: -ms-linear-gradient(90deg, #e1e4e7 0%, white);
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}


.toolbar {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #cccccc;
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #f2f2f2));
    background-image: -moz-linear-gradient(90deg, #f2f2f2 0%, white);
    background-image: -ms-linear-gradient(90deg, #f2f2f2 0%, white);
    box-shadow: 0px 1px #e5e5e5;
    -moz-box-shadow: 0px 1px #e5e5e5;
    -webkit-box-shadow: 0px 1px #e5e5e5;
    height: 33px;
    font-size: 20px;
    font-weight: 400;
    color: #10171c;
}






.dropdown {
    position: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #9fafba;
    padding: 3px 0px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    display: inline-block;
    min-width: 120px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 275px;
}

.dropdown a.menu-item, .dropdown .item, .dropdown .menu-widget {
    display: block;
    zoom: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: visible;
    line-height: 100%;
    padding: 6px 14px 5px 14px;
    font-weight: 600;
    color: #1f2f3a;
}


.dropdown .dropdown-menu a.menu-item:hover, .dropdown .dropdown-menu a.menu-item.hovered, .dropdown .dropdown-menu .item:hover, .dropdown .dropdown-menu .item.hovered {
    cursor: pointer;
    background-color: #1f8dd6;
    color: white;
    text-decoration: none;
}

.dropdown .shortcut {
    color: #999999;
    float: right;
    padding-left: 10px;
}


.dropdown-menu-link.open .new-button {
    box-shadow: inset 0px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0px 1px rgba(0, 0, 0, 0.12);
    background-color: #e1e4e7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e4e7), color-stop(10%, #e1e4e7));
    background-image: -moz-linear-gradient(90deg, #e1e4e7 90%, #e1e4e7);
    background-image: -ms-linear-gradient(90deg, #e1e4e7 90%, #e1e4e7);
     border-color: #b2bec6; 
    outline: none;
}

















.glyph {
    display: inline-block;
    font-family: 'icon';
    font-size: 12px!important;
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    -webkit-font-smoothing: antialiased;
    font-variant: normal;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    width: 1em;
}
.glyph:before {
    content: attr(data-icon);
    speak: none; 
}