#myApp {
    width: 400px;
    height: 300px;
    min-height: 100%;

}
.customisable-border {
  border: 2px solid #e8e8e8;
}
.positionRel {
    position: relative;
}
.tWidget {
    margin: 0 0 30px;
    border-radius: 5px;
    background: #fff;
    min-height: 100%;
}
.tWidget .header {
    padding: 5px;
    border-width: 0px 0px 1px;
}

.tWidget .body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.tWidget .body:after {
  content: "";
  display: block;
}
.tWidget .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.tWidget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}



.wTweet {
  padding: 10px 10px 10px 69px;
  border-width: 0px 0px 1px;
}
.tw-header .avatar {
  position: absolute;
  /*top: 0;*/
  left: 9px;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 4px;
}



















/* ====  masonry tile layout ===== */

*, 
*:before, 
*:after, 
.snippet-n.tiles .cell .hgroup, 
#tinymce .snippet-n .cell .hgroup, 
.snippet.tiles .cell .hgroup {
   -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
    border: 1px solid #ddd;
    border-width: 1px 1px 0 1px;
    width: 1025px;
    margin: 0 auto;
}

.main-section {
    position: relative;
}
/*=============== Grid border ===============*/

.main-section.section1:before, .main-section.section1:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.main-section.section1:after {
  clear: both;
}
.main-section.section1 .left:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  left: 341px;
  right: auto;
  border-left: 1px solid #ddd; 
}
.main-section.section1 .right:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  left: auto;
  right: 341px;
  border-left: 1px solid #ddd;
}
.main-section.section1 .left .m-entry-slot:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  border: 1px solid #919191;
  border-width: 1px 1px 0 0;
  display: block;
  width: 5px;
  height: 5px;
  z-index: 10;
}

.main-section.section1 .center .m-entry-slot:first-child:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #919191;
  border-width: 1px 1px 0 0;
  display: block;
  width: 5px;
  height: 5px;
  z-index: 10;
}
.main-section.section1 .right .m-entry-slot:first-child:before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  border: 1px solid #919191;
  border-width: 1px 0 0 1px;
  display: block;
  width: 5px;
  height: 5px;
  z-index: 10;
}
.main-section.section1 .center .m-entry-slot:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #919191;
  border-width: 1px 0 0 1px;
  display: block;
  width: 5px;
  height: 5px;
  z-index: 10;
}
.main-section.section1 .center .m-entry-slot:last-child:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  border: 1px solid #919191;
  border-width: 1px 0 0 1px;
  display: block;
  width: 5px;
  height: 5px;
  z-index: 10;
}
.main-section.section1 .center .m-entry-slot:last-child:after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  border: 1px solid #919191;
  border-width: 1px 1px 0 0;
  display: block;
  width: 5px;
  height: 5px;
  z-index: 10;
}

.main-section.section1 .center .m-entry-slot:first-child>:first-child:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  border: 1px solid #919191;
  border-width: 0 0 1px 1px;
  display: block;
  width: 5px;
  height: 5px;
  z-index: 10;
}
.main-section.section1 .center .m-entry-slot:first-child>:first-child:after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  border: 1px solid #919191;
  border-width: 0 1px 1px 0;
  display: block;
  width: 5px;
  height: 5px;
  z-index: 10;
}



.m-entry-slot:first-child {
  border: 0;
}

.m-entry-slot {
    display: block;
    padding: 1.3rem;
    border-top: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}
/*.m-entry-slot::before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    border:1px solid #919191;
    border-width:1px 0 0 1px;
    display:block;
    width:5px;
    height:5px;
    z-index:10;
}*/
/*=============== End Grid border ===============*/









.main-section-column {
    width: 341px;
    /*background: antiquewhite;*/
    float: left;
    display: block;
}

.main-section-column.left {

}
.main-section-column.center {

}
.main-section-column.right {

}
/*.right:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    left: auto;
    right: 341px;
    border-left: 1px solid #ddd;
}*/


.m-entry-slot h3 {
    font-family: Adelle,Georgia,serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    color: #000;
}

.m-entry-slot .p-dynamic-image {
    height: 200px;
}
.p-dynamic-image {
    -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
    /* box-shadow: inset 0 0 50px rgba(0,0,0,0.5); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.m-entry-slot__blurb{

}
.m-entry-slot__meta {
    font-size: .75rem;
    margin: .6rem 0 .75rem;
    position: relative;   
    padding-right: 15px;
}
.m-entry-slot__long-date {

}
.m-entry-slot__short-date {
    display: none;
}
.p-comment-count{
    position: absolute;
  top: 0;
  right: 0;
  min-width: 10px !important;
  font-size: 12px;
}
.p-comment-count:after {

}








/*@media (min-width: 600px)*/











