#myApp {
    width: 400px;
    height: 300px;
    min-height: 100%;

}
.customisable-border {
  border: 2px solid #e8e8e8;
}
.positionRel {
    position: relative;
}
.tWidget {
    margin: 0 0 30px;
    border-radius: 5px;
    background: #fff;
    min-height: 100%;
}
.tWidget .header {
    padding: 5px;
    border-width: 0px 0px 1px;
}

.tWidget .body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.tWidget .body:after {
  content: "";
  display: block;
}
.tWidget .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.tWidget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}



.wTweet {
  padding: 10px 10px 10px 69px;
  border-width: 0px 0px 1px;
}
.tw-header .avatar {
  position: absolute;
  /*top: 0;*/
  left: 9px;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 4px;
}



















/* ====  masonry tile layout ===== */

.main-section {
    width: 1023px;
    height: 300px;
    background: aliceblue;
    margin: 0 auto;
}
.main-section-column {
    width: 341px;
    background: antiquewhite;
    float: left;
    display: block;
}

.main-section-column.left {

}
.main-section-column.center {

}
.main-section-column.right {

}
.right:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    left: auto;
    right: 341px;
    border-left: 1px solid #ddd;
}

.m-entry-slot {
    display: block;
    padding: 1.3rem;
    border-top: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}
.m-entry-slot h3 {
    font-family: Adelle,Georgia,serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    color: #000;
}

.m-entry-slot .p-dynamic-image {
    height: 200px;
}
.p-dynamic-image {
    -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
    /* box-shadow: inset 0 0 50px rgba(0,0,0,0.5); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}