$p_dynamic_image__slot_1: 135deg, #292484, #dc4225;
$p_dynamic_image__slot_2: 135deg, #002f4b, #417711;
$p_dynamic_image__slot_3: 135deg, #292484, #a83279;

$p_dynamic_image_scrol_slot_1: 135deg, #d38312, #002f4b;
$p_dynamic_image_scrol_slot_2: 135deg, #e0be00, #dc4225;
$p_dynamic_image_scrol_slot_3: 135deg, #d38312, #a83279;
$p_dynamic_image_scrol_slot_4: 135deg, #417711, #dc4225;
// $p_dynamic_image__slot_1