@import '_color-variables';


.m-hero {
	position: relative;
	overflow: hidden;
}

@media (min-width: 700px) {
    .m-hero.big7 {
      height: 525px;
    }
}
.m-hero__slot {
	display: block;
	position: relative;
	padding: 1rem;
}


.m-linkset__entry {
	padding: 1.25rem 1.5rem;
}


.m-hero {
	.m-hero__slot {
		padding: 1.25rem 1.5rem;
	}
    // .............................
    // :         :        :        :
    // :         :  2     :    3   :
    // :         :________:________:
    // :    1    |                 |
    // :_________|                 |
    // |                           |
    // |                           |
    // |___________________________|
	&.big7 {
		.m-hero__slot {
			min-height: 175px;
		}
        @media (min-width: 1025px) {
            .m-hero__slot {
                position: absolute;
            }
        }
		> .m-hero__slot {
            @media (min-width: 700px){
    			&:nth-of-type(1) {
    				position: absolute;
    				top: 0;
    				left: 0;
    				width: 50%;
    				height: 350px;
    			}
    			&:nth-of-type(2) {
    				position: absolute;
    				top: 0;
    				left: 50%;
    				width: 50%;
    				height: 175px;
    			}
    			&:nth-of-type(3) {
    				position: absolute;
    				top: 175px;
    				left: 50%;
    				width: 50%;
    				height: 175px;
    			}
            }

            @media (min-width: 1025px) {
                &:nth-of-type(1) {
                    top: 0;
                    left: 0;
                    width: 341px;
                    height: 350px;
                }
                &:nth-of-type(2) {
                    top: 0;
                    left: 341px;
                    width: 341px;
                    height: 175px;
                }
                &:nth-of-type(3) {
                    top: 0;
                    left: 682px;
                    width: 341px;
                    height: 175px;
                }
            }
		}
        @media (min-width: 1025px) {
            .m-hero__scroller {
                -webkit-transform: none;
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                transform: none;
                overflow: visible;
                -ms-overflow-style: auto;
                -webkit-overflow-scrolling: auto;
                overflow-scrolling: auto;
                white-space: normal;
                position: static;
                height: 100%;
            }
        }
        @media (min-width: 700px) {
    		.m-hero__scroller {
    			position: absolute;
    			top: 350px;
    			left: 0;
    			width: 100%;
    			height: 175px;
    			
    		}
        }
        @media (min-width: 1025px) {
            .m-hero__scroller {
              position: static;
            }
        }
	}




    //  ___________________________
    // |                           |
    // |                           |
    // |          _________________|
    // |         |        :        :
    // |         |    1   :        :
    // :_________|.........        :
    // :         :        :   2    :
    // :     3   :    4   :        :
    // :.........:.................:
	.m-hero__scroller {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-overflow-style: none;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
		white-space: nowrap;
		font-size: 0;
		
		&:before, &:after {
			content: ".";
			display: block;
			height: 0;
			overflow: hidden;
		}
		.m-hero__slot {
			height: 175px;
			width: 85%;
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			font-size: 1rem;
		}
        @media (min-width: 600px) {
            .m-hero__slot {
                width: 75%;
            }
        }
        @media (min-width: 800px) {
            .m-hero__slot {
                width: 45%;
            }
        }

	}

	&.big7 {
		.m-hero__scroller .m-hero__slot {
            @media (min-width: 1025px) {
    			&:nth-of-type(1) {
    				top: 175px;
    				left: 341px;
    				width: 341px;
    				height: 175px;
    			}

    			&:nth-of-type(2) {
    				top: 175px;
    				left: 682px;
    				width: 341px;
    				height: 350px;
    			}
    			&:nth-of-type(3) {
    				top: 350px;
    				left: 0;
    				width: 341px;
    				height: 175px;
    			}
    			&:nth-of-type(4) {
    				top: 350px;
    				left: 341px;
    				width: 341px;
    				height: 175px;
    			}
            }

		}
	}
}


/* ---------- Sub 1 ----------*/
/*@media (min-width: 1025px)*/

/*////////////// Taile Colors ////////////////////*/

.m-linkset__entry .p-dynamic-image:after, .m-hero .m-hero__slot .p-dynamic-image:after, .m-carousel.hero .m-carousel__item .p-dynamic-image:after, .m-video-hero__main-entry .p-dynamic-image:after, .m-longform-index__node .p-dynamic-image:after, .m-rock-recent-reviews__entry .p-dynamic-image:after, .m-rock-popular-features__entry .p-dynamic-image:after, .m-rock-recent-feature .p-dynamic-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

$slot_bk_opacity: .7;
.m-hero {
	.m-hero__slot .p-dynamic-image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
	}
	&.big7 {
		> .m-hero__slot {
			&:nth-of-type(1) .p-dynamic-image:after {
				background-color: #292484;
				background-image: -webkit-linear-gradient($p_dynamic_image__slot_1);
				background-image: -moz-linear-gradient($p_dynamic_image__slot_1);
				background-image: -o-linear-gradient($p_dynamic_image__slot_1);
				background-image: linear-gradient($p_dynamic_image__slot_1);
				// background-image: -webkit-linear-gradient(135deg, #292484, #dc4225);
				// background-image: -moz-linear-gradient(135deg, #292484, #dc4225);
				// background-image: -o-linear-gradient(135deg, #292484, #dc4225);
				// background-image: linear-gradient(135deg, #292484, #dc4225);
				opacity: $slot_bk_opacity;
			}
			&:nth-of-type(2) .p-dynamic-image:after {
				background-color: #002f4b;
				background-image: -webkit-linear-gradient($p_dynamic_image__slot_2);
				background-image: -moz-linear-gradient($p_dynamic_image__slot_2);
				background-image: -o-linear-gradient($p_dynamic_image__slot_2);
				background-image: linear-gradient($p_dynamic_image__slot_2);
				// background-image: -webkit-linear-gradient(135deg, #002f4b, #417711);
				// background-image: -moz-linear-gradient(135deg, #002f4b, #417711);
				// background-image: -o-linear-gradient(135deg, #002f4b, #417711);
				// background-image: linear-gradient(135deg, #002f4b, #417711);
				opacity: $slot_bk_opacity;
			}
			&:nth-of-type(3) .p-dynamic-image:after {
				background-color: #292484;
				background-image: -webkit-linear-gradient($p_dynamic_image__slot_3);
				background-image: -moz-linear-gradient($p_dynamic_image__slot_3);
				background-image: -o-linear-gradient($p_dynamic_image__slot_3);
				background-image: linear-gradient($p_dynamic_image__slot_3);
				// background-image: -webkit-linear-gradient(135deg, #292484, #a83279);
				// background-image: -moz-linear-gradient(135deg, #292484, #a83279);
				// background-image: -o-linear-gradient(135deg, #292484, #a83279);
				// background-image: linear-gradient(135deg, #292484, #a83279);
				opacity: $slot_bk_opacity;
			}
		}
		.m-hero__scroller .m-hero__slot {
			&:nth-of-type(1) .p-dynamic-image:after {
				background-color: #d38312;
				background-image: -webkit-linear-gradient($p_dynamic_image_scrol_slot_1);
				background-image: -moz-linear-gradient($p_dynamic_image_scrol_slot_1);
				background-image: -o-linear-gradient($p_dynamic_image_scrol_slot_1);
				background-image: linear-gradient($p_dynamic_image_scrol_slot_1);

				// background-image: -webkit-linear-gradient(135deg, #d38312, #002f4b);
				// background-image: -moz-linear-gradient(135deg, #d38312, #002f4b);
				// background-image: -o-linear-gradient(135deg, #d38312, #002f4b);
				// background-image: linear-gradient(135deg, #d38312, #002f4b);

				opacity: $slot_bk_opacity;
			}
			&:nth-of-type(2) .p-dynamic-image:after {
				background-color: #e0be00;
				background-image: -webkit-linear-gradient($p_dynamic_image_scrol_slot_2);
				background-image: -moz-linear-gradient($p_dynamic_image_scrol_slot_2);
				background-image: -o-linear-gradient($p_dynamic_image_scrol_slot_2);
				background-image: linear-gradient($p_dynamic_image_scrol_slot_2);

				// background-image: -webkit-linear-gradient(135deg, #e0be00, #dc4225);
				// background-image: -moz-linear-gradient(135deg, #e0be00, #dc4225);
				// background-image: -o-linear-gradient(135deg, #e0be00, #dc4225);
				// background-image: linear-gradient(135deg, #e0be00, #dc4225);

				opacity: $slot_bk_opacity;
			}
			&:nth-of-type(3) .p-dynamic-image:after {
				background-color: #d38312;
				background-image: -webkit-linear-gradient($p_dynamic_image_scrol_slot_3);
				background-image: -moz-linear-gradient($p_dynamic_image_scrol_slot_3);
				background-image: -o-linear-gradient($p_dynamic_image_scrol_slot_3);
				background-image: linear-gradient($p_dynamic_image_scrol_slot_3);
				// background-image: -webkit-linear-gradient(135deg,#d38312,#a83279);
				// background-image: -moz-linear-gradient(135deg,#d38312,#a83279);
				// background-image: -o-linear-gradient(135deg,#d38312,#a83279);
				// background-image: linear-gradient(135deg,#d38312,#a83279);
				opacity: $slot_bk_opacity;
			}
			&:nth-of-type(4) .p-dynamic-image:after {
				background-color: #417711;
				background-image: -webkit-linear-gradient($p_dynamic_image_scrol_slot_4);
				background-image: -moz-linear-gradient($p_dynamic_image_scrol_slot_4);
				background-image: -o-linear-gradient($p_dynamic_image_scrol_slot_4);
				background-image: linear-gradient($p_dynamic_image_scrol_slot_4);

				// background-image: -webkit-linear-gradient(135deg, #417711, #dc4225);
				// background-image: -moz-linear-gradient(135deg, #417711, #dc4225);
				// background-image: -o-linear-gradient(135deg, #417711, #dc4225);
				// background-image: linear-gradient(135deg, #417711, #dc4225);
				opacity: $slot_bk_opacity;
			}
		}
	}
}





.m-linkset__entry:hover .p-dynamic-image:after, .m-hero .m-hero__slot:hover .p-dynamic-image:after, .m-carousel.hero .m-carousel__item:hover .p-dynamic-image:after, .m-video-hero__main-entry:hover .p-dynamic-image:after, .m-longform-index__node:hover .p-dynamic-image:after, .m-rock-recent-reviews__entry:hover .p-dynamic-image:after, .m-rock-popular-features__entry:hover .p-dynamic-image:after, .m-rock-recent-feature:hover .p-dynamic-image:after {
	opacity: 0.9 !important;
}

/*////////////// FONT ////////////////////*/

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

.m-hero {
	.m-hero__slot h2 {
		font-family: Adelle,Georgia,serif;
		font-weight: 400;
		line-height: 1.2;
		position: relative;
		z-index: 10;
		margin: 0;
		padding: 0;
		color: #FFF;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	}
	&.big7 {
		.m-hero__slot h2 {
			font-size: 1.4em;
		}
		> .m-hero__slot:nth-of-type(1) h2, .m-hero__scroller .m-hero__slot:nth-of-type(2) h2 {
			font-size: 2.0em;
		}
	}
}