* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
  }
}

.snippet-n.tiles .cell .hgroup, #tinymce .snippet-n .cell .hgroup, .snippet.tiles .cell .hgroup {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main {
	max-width: 1025px;
	margin: 0 auto;
}
@media (min-width: 1025px){
    .main {
        border: 1px solid #ddd;
        border-width: 1px 1px 0 1px;
    }
}

///////////////////

@import 'sections/_main-section.section1';
@import 'sections/_main-section.section2';
@import 'sections/_m-carousel.hero';
//////////////////

/*=============== Grid border ===============*/
@media (min-width: 600px) {
    .m-entry-slot {
        &:first-child {
            border: 0;
        }
        display: block;
        padding: 1.3rem;
        border-top: 1px solid #ddd;
        position: relative;
        overflow: hidden;
    }  
}


/*=============== End Grid border ===============*/


.m-entry-slot {
    h3 {
        font-family: Adelle,Georgia,serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.1;
        margin: 0;
        color: #000;
    }
    .p-dynamic-image {
	   height: 200px;
    }
}

.p-dynamic-image {
	-webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	/* box-shadow: inset 0 0 50px rgba(0,0,0,0.5); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.m-entry-slot__blurb {}

.m-entry-slot__meta {
  font-size: .75rem;
  margin: .6rem 0 .75rem;
  position: relative;
  padding-right: 15px;
}

.m-entry-slot__long-date {}

.m-entry-slot__short-date {
  display: none;
}

.p-comment-count {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 10px !important;
  font-size: 12px;
  &:after {}
}